In [3]:
 import pandas as pd

## Reading Data

In [4]:
df=pd.read_csv('datatest.csv')
df.columns=df.columns.to_series().apply(lambda x:x.strip())

In [27]:
df

    Fever  Bodypain  Age  RunnyNose  DiffBreathe  InfectionProbability
0     100         1   67          1            0                     1
1     101         0   28          0            1                     0
2     104         1   36          1            1                     1
3     104         0    9          0           -1                     1
4      99         1   65          0           -1                     0
..    ...       ...  ...        ...          ...                   ...
94    100         1   51          1            1                     1
95    103         0  101          1            1                     0
96    100         0   20          0           -1                     0
97     98         0   19          1            0                     0
98     97         0   22          1            0                     1

[99 rows x 6 columns]

In [4]:
df.tail()

    Fever   Bodypain  Age  RunnyNose  DiffBreathe  InfectionProbability
94     100         1   51          1            1                     1
95     103         0  101          1            1                     0
96     100         0   20          0           -1                     0
97      98         0   19          1            0                     0
98      97         0   22          1            0                     1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 6 columns):
Fever                   99 non-null int64
Bodypain                99 non-null int64
Age                     99 non-null int64
RunnyNose               99 non-null int64
DiffBreathe             99 non-null int64
InfectionProbability    99 non-null int64
dtypes: int64(6)
memory usage: 4.8 KB

In [6]:
df['DiffBreathe'].value_counts()

 0    42
 1    30
-1    27
Name: DiffBreathe, dtype: int64

In [7]:
df.describe()

,Fever,Bodypain,Age,RunnyNose,DiffBreathe,InfectionProbability
count,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,100.161616,0.515152,51.515152,0.494949,0.030303,0.525253
std,2.136691,0.502314,30.379694,0.502519,0.762040,0.501903
min,97.000000,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,98.000000,0.000000,23.500000,0.000000,-1.000000,0.000000
50%,100.000000,1.000000,49.000000,0.000000,0.000000,1.000000
75%,102.000000,1.000000,76.500000,1.000000,1.000000,1.000000
max,104.000000,1.000000,104.000000,1.000000,1.000000,1.000000

# Train Test splitting

In [5]:
import numpy as np

In [8]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_setsize=int(len(data)*ratio)
    test_indices=shuffled[:test_setsize]
    train_indices=shuffled[test_setsize:]
    return data.iloc[test_indices],data.iloc[train_indices]

In [7]:
train,test=data_split(df,0.3)

In [24]:
train
train.columns=train.columns.to_series().apply(lambda x: x.strip())

In [10]:
test
test.columns=test.columns.to_series().apply(lambda x: x.strip())

In [25]:
train

    Fever  Bodypain  Age  RunnyNose  DiffBreathe  InfectionProbability
62     97         1  104          1            0                     0
40    100         1   93          0            0                     1
95    103         0  101          1            1                     0
18    102         1   90          0            1                     0
97     98         0   19          1            0                     0
84     97         1   14          0            0                     0
64     99         1   35          1            0                     0
42    100         0   76          1           -1                     1
10    103         0   79          1            0                     1
0     100         1   67          1            0                     1
31     97         1   97          0            0                     1
76    102         1   72          0            0                     1
47    103         1   69          1            0                     0
26    100         1   82          1            0                     1
44    100         1   70          1           -1                     1
4      99         1   65          0           -1                     0
22    100         1   24          0            0                     1
12    101         0   75          1            0                     0
88    102         1   59          1           -1                     1
73    104         1   73          0            1                     1
49     97         0   54          1            1                     1
70    101         0  103          1            1                     0
68     99         0   15          0            0                     1
15     99         0   76          0            0                     1
39    100         0   11          1           -1                     1
33     97         1   51          1            0                     1
9      99         1   37          0            0                     1
81     98         1   49          1           -1                     1
11     99         1   81          0           -1                     1

In [26]:
test

    Fever  Bodypain  Age  RunnyNose  DiffBreathe  InfectionProbability
65     98         1   11          1            0                     0
94    100         1   51          1            1                     1
30    101         1   32          1            0                     1
28    103         1   42          0            0                     1
89    102         0   51          1           -1                     1
..    ...       ...  ...        ...          ...                   ...
60     97         0   47          1           -1                     0
71    100         0   30          0            1                     1
14    100         0  103          1            1                     0
92    101         1    1          0            0                     0
51    103         1   37          1            0                     1

[70 rows x 6 columns]

In [11]:
X_train=train[['Fever','Bodypain','Age','RunnyNose', 'DiffBreathe']].to_numpy()
X_test=test[['Fever' ,'Bodypain', 'Age', 'RunnyNose', 'DiffBreathe']].to_numpy()

In [32]:
Y_train=train[['InfectionProbability']].to_numpy().reshape(29,)
Y_test=test[['InfectionProbability']].to_numpy().reshape(70,)

In [13]:
from sklearn.linear_model import LogisticRegression

In [30]:
clf=LogisticRegression()
clf.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
clf.predict_proba([[100,1,22,-1,1]])[0][0]

0.31094202622146516